<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/login.css">
  <title>CRUD MongoDB</title>
</head>

<body>
  <div class="login-page">
    <div class="form">
      <form action="/registrar" method="POST" class="login-form" >
        <input type="text" placeholder="username" id="username" name="username" />
        <input type="password" placeholder="password" id="password" name="password" />
        <input type="text" placeholder="email" id="email" name="email" />
        <button>create</button>
        <p class="message">Estas registrado ? <a href="/">Inicio de Sesion</a></p>
      </form>
    </div>
  </div>
</body>

</html>